.grid {
    width: 400px;
    height: 600px;
    background-image: url('assets/background.png');
    position: relative;
    font-size: 200px;
    text-align: center;
    color: rgb(255, 68, 0);
}

.doodler {
    width: 87px;
    height: 85px;
    background-image: url('assets/doodler-guy.png');
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-image: url(assets/platform.png);
    position: absolute;
}